@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar biar matching sama tema gelap */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1c1917; /* coffee-900 */
}
::-webkit-scrollbar-thumb {
  background: #44403c; /* coffee-700 */
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d97706; /* gold-500 */
}